[Unit]
Description=Read and publish Tasmota data

[Service]
Type=simple
WorkingDirectory=/opt/tasmota_exporter/
ExecStart=/opt/tasmota_exporter/tasmota_exporter
RuntimeMaxSec=60
